#wave {
  padding: 2px 0;
    border-radius: 16px;
    display: inline-flex;
    column-gap: 8px;
  
  }
  
  .userName{
      font-size: 14px;
      font-weight: 500;
      color: #595757;
  }
  .user{
      font-size: 14px;
      font-weight: 500;
      color: #595757;
      text-transform: capitalize;
  }
  
  .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-right: 4px;
    background: #39383b;
    animation: wave 1s linear infinite;
    animation-delay: -0.9s;
  }
  .dot.two {
    animation-delay: -0.7s;
  }
  .dot:nth-child(3) {
    animation-delay: -0.6s;
  }
  
  @keyframes wave {
    0%,
    60%,
    100% {
      transform: initial;
    }
    30% {
      transform: translateY(-8px);
    }
  }
  