@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input, select{
    outline: none !important;
}

.css-13cymwt-control {
    margin-top: 10px !important;
    cursor: pointer !important;
}

.css-art2ul-ValueContainer2 {
    padding: 5px !important;
}

.css-t3ipsp-control{
    border: 0.6px solid #8633FF !important;
    margin-top: 10px !important;
}