#wave {
  padding: 5px 12px;
  background: #e9e8e8;
  border-radius: 16px;
  margin-left: 6px;
  margin-top: 3px;
  display: inline-flex;
  align-items: center;
  column-gap: 8px;

}

.userName{
    font-size: 14px;
    font-weight: 500;
    color: #595757;
}
.user{
    font-size: 14px;
    font-weight: 500;
    color: #595757;
    text-transform: capitalize;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  background: #8633FF;
  animation: wave 1s linear infinite;
  animation-delay: -0.9s;
}
.dot.two {
  animation-delay: -0.7s;
}
.dot:nth-child(3) {
  animation-delay: -0.6s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-12px);
  }
}
